
.Navbar {
    padding: 1%;
    margin: 1%;
    background-color: #0047AB;
}

ul {
    list-style-type: none;
    width: 60px;
}

li {
    display: inline;
}

.link {
    padding: 20px;
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    color: black;
    border-radius: 10px;
    margin: 5px;
}

.track {
    padding: 16px;
    background-color: white;
    text-decoration: none;
    color: #0047AB;
    font-size: 16px;
    border-radius: 10px;
    margin: 5px;
}

.link:hover {
    background-color: pink;
    border: 2px black solid;
    margin: 3px;
}

.track:hover {
    background-color: #EAA221;
    border: 2px black solid;
    margin: 3px;
}