.Papers {
    background-color: lightgray;
    margin: auto;
    width: 95%;
    padding: 10px;
    border-radius: 20px;
    border: thin solid black;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 15px;
}