.PaperInformation {
    margin-top: 5%;
}

.title {
    font-size: 20px;
    font-weight: bold;
}



.abstract .trackText {
    background-color: white;
    border: thin solid black;
    border-radius: 5px;
    padding: 15px;
    width: 80%;
    margin: auto;
}

.award .trackText{
    background-color: white;
    border: thin solid black;
    border-radius: 5px;
    padding: 15px;
    width: 10%;
    margin: auto;
}

.authors .trackText{
    background-color: white;
    border: thin solid black;
    border-radius: 5px;
    padding: 15px;
    width: 30%;
    margin: auto;
}

.allAuthors {
    margin: 5%;
}